<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu tworzymy todo i widzimy listę</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>

<h2>Lista zadań</h2>

<table>
    <thead>
    <th>id</th>
    <th>Marka</th>
    <th>Model</th>
    <th>Rocznik</th>
    <th>Kolor</th>
    <th>Moc</th>
    <th>Czy bezwypadkowy?</th>
    </thead>
{% for todo in todos %}
    <tr>
        <td><a href="/todo_id/{{ loop.index }}">{{ loop.index }}</a></td>
        <td>{{ todo.marka }}</td>
        <td>{{ todo.model }}</td>
        <td>{{ todo.rocznik }}</td>
        <td>{{ todo.kolor }}</td>
        <td>{{ todo.moc }}</td>
        <td>{{ todo.czy_bezwypadkowy }}</td>
    </tr>
{% endfor %}
</table>
<div>
    <h2> Dodaj nowe zadanie: </h2>
    <form method="POST" action="/todos/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>
</body>
</html>