<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>
</head>
<body>
    <form method="post" action="{{ url_for('formularz') }}" >
        <label for="waluty">Wybierz walutę którą chcesz wymienić: </label>
        <select name="waluty" id="waluty">
            {% for rate_item in rate%}
                {% for item in rate_item['code'] %}
                    <option >{{ item }}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </form>
</body>
</html>