<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>
</head>
<body>

    <form method="post" action="{{ url_for('formularz') }}" >
    <div>
        <label for="waluta">Wybierz walutę: </label>
        <select name="waluta" id="waluta">
            {% for rate_item in rate%}
                    <option >{{ rate_item['code'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="ilosc">Ile waluty chcesz kupić:</label>
        <input type="text" id="ilosc">
    </div>
    </form>
</body>
</html>